table{
	position: absolute;
	left:20%;
	top: 60px;
	width: 60%;
}
#tools{
	position: absolute;
	left:20%;
	top: 20px;
	height: 20px;
	width: 60%;
}
#search{
	position: absolute;
	border: 1px solid rgb(27, 188, 155);
	height: 20px;
	width: 200px;
	background: white;
}
#searchinput{
	position: absolute;
	border:none;
	height: 20px;
	width: 170px;
/*	margin-top: -9px;*/
}
#searchmessage{
	position: absolute;
	right: 0px;
	font-size: 15px;

}
#add{
	position: absolute;
	left: 250px;
	color: white;
	font-family: 'Comic Sans MS', cursive;
}
#addspan{
	color: white;
	font-family: 'Comic Sans MS', cursive;
}

tr{
	width: 100%;
	font-family: 'Comic Sans MS', cursive;
}
th,td{
	width: 20%;
	text-align: center;
	font-family: 'Comic Sans MS', cursive;
}
.col1{
	width: 50%;
}
.col2{
	width: 30%;
}
.col3{
	width: 20%;
}
span{
	cursor: pointer; 
}
#searchmessage{
	color: black;
}
.delete,.editor{
	color: white;
	margin-left: 5px;
}
.row:hover{
	background-color: #4E9A39;
}