* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
}
body {
  width: 100%;
  height: 100%;
}
#face {
  width: 100%;
  height: 100%;
  background-color: #3691A4;
}
#times {
  font-family: 'Comic Sans MS', cursive;
  position: absolute;
  top: 20%;
  font-size: 100px;
  color: white;
  left: 50%;
  margin-left: -200px;
  -webkit-box-reflect: below -40px -webkit-gradient(linear, 0 20%, 0 100%, from(transparent), color-stop(0, transparent), to(#000000));
}
#week {
  font-family: 'Comic Sans MS', cursive;
  position: absolute;
  top: 20%;
  font-size: 30px;
  color: white;
  left: 50%;
  margin-left: -125px;
  margin-top: -30px;
}
#weather {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 20px;
  color: white;
}
#aboutMe {
  position: absolute;
  bottom: 100px;
  right: 100px;
}
a {
  text-decoration: none;
  font-size: 40px;
  color: white;
}
span {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
#mything {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 100px;
  margin-top: 200px;
  font-size: 100px;
  text-align: center;
}
a {
  width: 100px;
  height: 100px;
}
.fa-github,
.fa-weibo {
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: white;
}
#loadBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3691A4;
  z-index: 10;
}
#bar {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 300px;
  margin-top: -10px;
  margin-left: -150px;
  border-radius: 10px;
  border: 2px solid white;
}
#inBar {
  height: 16px;
  width: 290px;
  margin-top: 2px;
  margin-left: 2px;
  background: white;
  border-radius: 8px;
  -webkit-animation-name: goScroll;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  -o-animation-name: goScroll;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-out;
  -moz-animation-name: goScroll;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-out;
  animation-name: goScroll;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
@-webkit-keyframes goScroll {
  from {
    width: 100px;
  }
  40% {
    width: 180px;
  }
  to {
    width: 290px;
  }
}
#BlogForMe {
  position: absolute;
  bottom: 100px;
  left: 100px;
  z-index: 10;
}

#blog{
  position: absolute;
  left:0px;
  bottom: -60px;
  text-align: center;
  opacity: 0;
}
#BlogForMe:hover #blog{
  animation-name:showmore;
  animation-duration:1s;
  animation-timing-function:ease-out;
  -o-animation-name:showmore;
  -o-animation-duration:1s;
  -o-animation-timing-function:ease-out;
  -moz-animation-name:showmore;
  -moz-animation-duration:1s;
  -moz-animation-timing-function:ease-out;
  -webkit-animation-name:showmore;
  -webkit-animation-duration:1s;
  -webkit-animation-timing-function:ease-out;
  opacity:1;
  bottom: -50px;
}
/* id=morespan1 動畫開始 */
@keyframes showmore{
  from{
    opacity:0;
    bottom: -60px;
  }
  to{
    opacity:1;
    bottom: -50px;
  }
}
@-o-keyframes showmore{
  from{
    opacity:0;
    bottom: -60px;
  }
  to{
    opacity:1;
    bottom: -50px;
  }
}
@-moz-keyframes showmore{
  from{
    opacity:0;
    bottom: -60px;
  }
  to{
    opacity:1;
    bottom: -50px;
  }
}
@-webkit-keyframes showmore{
  from{
    opacity:0;
    bottom: -60px;
  }
  to{
    opacity:1;
    bottom: -50px;
  }
}
/* class=row3 動畫結束 */
