* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
}
#scroll {
  position: absolute;
  width: 10px;
  height: 70px;
  top: 50%;
  margin-top: -70px;
  z-index: 10000;
  right: 20px;
}
#scrollul {
  width: 10px;
  height: 40px;
}
#scrollul li {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
}
li a {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #FFDA93;
  display: block;
}
.first,
.secound,
.third,
.four {
  width: 100%;
  height: 100%;
}
.first {
  background-color: #21B2A6;
}
.secound {
  background-color: #505393;
  display: none;
}
.third {
  background-color: #6FBCCE;
  display: none;
}
.four {
  background-color: #15A0F5;
  display: none;
}
.myphoto {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  top: 10%;
  left: 45%;
  padding: 4px 4px;
  border: 4px solid white;
  cursor: pointer;
}
.myphoto:hover {
  border: 4px solid #CACBB9;
}
.my {
  position: absolute;
  width: 60%;
  left: 20%;
  opacity: 1;
  top: 35%;
  text-align: center;
  -webkit-animation-name: comeRight;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  -o-animation-name: comeRight;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-out;
  -moz-animation-name: comeRight;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-out;
  animation-name: comeRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
@keyframes comeRight {
  from {
    left: 10%;
    opacity: 0;
  }
  to {
    left: 20%;
    opacity: 1;
  }
}
@-moz-keyframes comeRight {
  from {
    left: 10%;
    opacity: 0;
  }
  to {
    left: 20%;
    opacity: 1;
  }
}
@-o-keyframes comeRight {
  from {
    left: 10%;
    opacity: 0;
  }
  to {
    left: 20%;
    opacity: 1;
  }
}
@-webkit-keyframes comeRight {
  from {
    left: 10%;
    opacity: 0;
  }
  to {
    left: 20%;
    opacity: 1;
  }
}
p {
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 1px white;
}
@keyframes comeLeft {
  from {
    left: 10%;
    opacity: 0;
  }
  to {
    left: 20%;
    opacity: 1;
  }
}
@-moz-keyframes comeLeft {
  from {
    left: 10%;
    opacity: 0;
  }
  to {
    left: 20%;
    opacity: 1;
  }
}
@-o-keyframes comeLeft {
  from {
    left: 10%;
    opacity: 0;
  }
  to {
    left: 20%;
    opacity: 1;
  }
}
@-webkit-keyframes comeLeft {
  from {
    left: 10%;
    opacity: 0;
  }
  2s to {
    left: 20%;
    opacity: 1;
  }
}
p {
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 1px white;
}
.transformleft {
  transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  margin-top: 20px;
}
.transformright {
  transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  margin-top: 20px;
}
.transfornoname {
  margin-top: 20px;
}
.school {
  cursor: pointer;
}
.ecit {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 45%;
  left: 55%;
  border: 4px solid #6FBCCE;
  box-shadow: 2px 3px 4px #6FBCCE;
  display: none;
}
.school:hover {
  color: red;
}
.school:hover .ecit {
  display: block;
}
#ecitschool {
  text-decoration: none;
  color: white;
}
#ecitschool:hover {
  color: red;
}
ul {
  position: relative;
  width: 88%;
  left: 10%;
  top: 5%;
  list-style-type: none;
}
li img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  padding: 2px;
  border: 2px solid white;
}
.ability {
  position: absolute;
  font-size: 40px;
  width: 40px;
  color: white;
  top: 46%;
}
